<header>
  <div class="flexbox flexbox-header">
    <div class="flex img-box"><img src="./assets/myface.png" alt="tutaj moja morda" ></div>
    <div class="flex header-text"><h1 class="header-font-size">Magda Dev</h1></div>
  </div>
</header>
<main>
<div class="flexbox-main">
  <div class="btns-above-card">
    <button id="green-btn" routerLink="/about-component" >about</button>
    <button id="orange-btn" routerLink="/contact-component">contact</button>
    <button id="red-btn" routerLink="/works-component">works</button>
  </div>
  <div class="card">&nbsp;<router-outlet></router-outlet></div>
</div>
</main>
